## Larry Peng

# Income Inequality

### Using World Bank Data, I hope to answer the question:
"Is there a relationship between a nation's Wealth (GDP per capita) and a nation's level of Income Inequality (Gini Coefficient)?"

In [1]:
#Initial Imports
import pandas as pd
import numpy as np

## Data Cleaning
I will mainly be working with WorldBank data regarding the "GDP per capita (current US$)" and the "Gini index (World Bank estimate)" of nations.
\n
At a glance, there are many missing values in the dataset.

In [24]:
#load the gdp_per_capita data
#first four rows of the csv file includes information about last update date and source
gdp_df = pd.read_csv('gdp_per_capita.csv', skiprows = 4)

#drop unnecessary columns/information
gdp_df = gdp_df.drop(columns = ['Indicator Name', 'Indicator Code', 'Unnamed: 65'])

#create new column tracking number of years of missing data per nation
gdp_df['Missing Years'] = gdp_df.isnull().sum(axis=1)

In [28]:
#load the gini index data
#first four rows of the csv file includes information about the last update date and source
gini_df = pd.read_csv('gini_index.csv', skiprows = 4)
gini_df.head

#drop unnecessary columns/information
gini_df = gini_df.drop(columns = ['Indicator Name', 'Indicator Code', 'Unnamed: 65'])

#creae new column tracking number of years of missing data per nation
gini_df['Missing Years'] = gini_df.isnull().sum(axis=1)

gini_df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Missing Years
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.3,NaN,NaN,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.0,26.3,27.3,26.5,26.7,29.0,NaN,NaN,NaN,49
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36.7,NaN,NaN,NaN,NaN,NaN,NaN,58
263,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,54
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,57.1,NaN,NaN,NaN,NaN,NaN,52
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,44.3,NaN,50.3,NaN,58